{% extends "base.html" %}

{% block content %}
    <main class="container-lg">

        <!-- About section -->
        <section class="skills-container my-5 p-4 rounded-3">
            <h2 class="text-center roboto-slab-headings mb-4">About Me</h2>
            <p>
                Hi, my name is Daniel Hart, and I am a joiner/carpenter based in Leeds with around 30 years of experience in the construction industry. My career has included work in film and theatre, as well as several years as a cabinet maker. This varied background means I specialise in one-off bespoke projects that require creativity and inventive solutions. I cover all aspects of the building trade, including bathrooms, kitchens, extensions, and basement conversions. I have recently moved away from Checkatrade and will now be using my own website—feel free to request a quote using the links provided.
            </p>
        </section>

        <div class="d-none d-sm-flex justify-content-center">

                <a class="btn btn-xl oaky-background rounded-3 mt-3 mb-3 brown-quote text-white" href="{% url 'enquiry_page' %}">Get A Quote</a>

        </div>
        <!-- Skills Section -->
        <section class="skills-container my-5 p-4 rounded-3">
            <h2 class="text-center roboto-slab-headings mb-4">Skills & Services</h2>
            <div class="row justify-content-center">
                {% for skill in skills %}
                    <div class="col-6 col-md-4 col-lg-3 mb-3">
                        <p class="skill-item">
                            ✔ <strong>{{ skill.title }}</strong>
                        </p>
                    </div>
                {% endfor %}
            </div>
        </section>

        <div class="d-flex d-sm-none justify-content-center">

                <a class="btn btn-xl oaky-background rounded-3 mt-3 mb-3 brown-quote text-white" href="{% url 'enquiry_page' %}">Get A Quote</a>

        </div>

    </main>
{% endblock content %}
