{% extends "base.html" %}

{% block content %}
    <main class="container-lg">
        <div class="row">
            <div class="col-6">
                <p class="mt-2">
                    Hi there, I am a joiner/carpenter from Leeds. I have 30 or so years’ experience, mainly in construction, but I have also worked in film and theatre, and as a cabinet maker for several years. Because of this varied work, my strong point is doing one-off bespoke projects that require a little bit of invention and creativity. All aspects of the building trade are covered and other works include, bathrooms, kitchens, extensions and basement conversions.
                </p>
            </div>
        </div>
    </main>
{% endblock content %}
