{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <main class="container my-4">
        <h1 class="mb-4 roboto-slab-headings text-center">Request a Quote</h1>

        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <form method="post" action="{% url 'enquiry_page' %}" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex justify-content-center">
                        <button type="submit"
                                class="btn btn-lg oaky-background text-white rounded-3 mt-3 brown-quote">
                            Send Enquiry
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock content %}
