{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <main class="container my-4">
        <h1 class="mb-4 roboto-slab-headings text-center">Request a Quote</h1>

        <div class="row justify-content-center">
            <div class="col-12 col-md-6 d-flex">
                <p class="justify-content-center px-5">To get a quote, you can phone me on telephone number <a href="tel:+447789107966">07789 107966</a>. If I do not answer please leave a message with your name, the enquiry and best contact number.</p>
            </div>
        </div>
    </main>
{% endblock content %}
