{% load static %}

<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="icon"
                  type="image/png"
                  href="{% static 'images/chisel-icon-2.png' %}?v=1">
            <!--Meta data-->
            <meta name="description" content="Joinery and building services website">
            <meta name="keywords" content="Joiner, builder, West Yorkshire, carpenter">
            <meta name="author" content="Alistair Driscoll">
            <title>Daniel Hart Joinery and Building Services</title>
      </head>
      <body>
            {% block content %}

            {% endblock content %}
      </body>
</html>
